{% extends 'base.html.twig' %}

{% block title %}Example of Analysed Phrases{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Example of Analyzed Phrases</h1>
<ul>
    {% for phrase in phrases %}
        <li>{{ phrase }}</li>
    {% endfor %}
</ul>
 
</div>
{% endblock %}
