{% extends 'base.html.twig' %}

{% block title %}New CategoryTransaction
{% endblock %}

{% block body %}
	<h2>Create New Category</h2>
	{{ include('category_transaction/_form.html.twig') }}
	<a class="btn btn-primary m-2" href="{{ path('app_category_transaction_index') }}">Back to List</a>
{% endblock %}
