{% extends 'base.html.twig' %}

{% block title %}PeriodTransaction
{% endblock %}

{% block body %}
	<h2>Show Period</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Period_name</th>
				<td>{{ period_transaction.periodName }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_period_transaction_index') }}">Back to List</a>
	<a class="btn btn-primary m-2" href="{{ path('app_period_transaction_edit', {'id': period_transaction.id}) }}">Edit</a>
	{{ include('period_transaction/_delete_form.html.twig') }}
{% endblock %}
