{% extends 'base.html.twig' %}

{% block title %}Creat New Year
{% endblock %}

{% block body %}
	<h2>Create New Year</h2>
	{{ include('year_transaction/_form.html.twig') }}
	<a class="btn btn-primary m-2" href="{{ path('app_year_transaction_index') }}">Back to List</a>
{% endblock %}
