{% extends "base.html.twig" %}

{% block title %}Blue Formal Dresses at Macy's{% endblock %}
{% block body %}
<h1>Google Search API Result</h1>
    <h2>Blue Formal Dresses at Macy's</h2>
    <div class="search-result-container">
    {% for result in results %}
        <div class="search-result-item">
            <div class="title">
                <h3>{{ result.title|sanitize_html }}</h3>
            </div>
            <div class="image">
                <img src="{{ result.image|sanitize_html }}">
            </div>
            <a rel="nofollow" href="{{ result.link|sanitize_html }}">Check Availability</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
