{% extends "base.html.twig" %}

{% block title %}Blue Formal Dresses at Macy's{% endblock %}
{% block body %}
    <h2>Blue Formal Dresses at Macy's</h2>
    <div class="search-result-container">
    {% for result in results %}
        <div class="search-result-item">
            <div class="title">
                <h3>{{ result.title }}</h3>
            </div>
            <div class="image">
                <img src="{{ result.image }}">
            </div>
            <a href="{{ result.link }}">Check Availability</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
