{% extends 'base.html.twig' %}

{% block title %}Edit YearT
{% endblock %}

{% block body %}
	<h2>Edit Year</h2>
	{{ include('year_transaction/_form.html.twig', {'button_label': 'Update'}) }}
	<a class="btn btn-primary m-2" href="{{ path('app_year_transaction_index') }}">Back to List</a>
	{{ include('year_transaction/_delete_form.html.twig') }}
{% endblock %}
