{% extends 'base.html.twig' %}

{% block title %}Show Category
{% endblock %}

{% block body %}
	<h2>Show Category</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Category Name</th>
				<td>{{ category_transaction.categoryName }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_category_transaction_index') }}">Back to List</a>
	<a class="btn btn-primary m-2" href="{{ path('app_category_transaction_edit', {'id': category_transaction.id}) }}">Edit</a>
	{{ include('category_transaction/_delete_form.html.twig') }}
{% endblock %}
