{% extends 'base.html.twig' %}

{% block title %}Type List
{% endblock %}

{% block body %}
	<h2>Type List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Type Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type_transaction in type_transactions %}
				<tr>
					<td>{{ type_transaction.typeName }}</td>
					<td>
						<a href="{{ path('app_type_transaction_show', {'id': type_transaction.id}) }}">Show</a>
						<a href="{{ path('app_type_transaction_edit', {'id': type_transaction.id}) }}">Edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_type_transaction_new') }}">Create New</a>
{% endblock %}
