{% extends 'base.html.twig' %}

{% block title %}Show Type
{% endblock %}

{% block body %}
	<h2>Show Type</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Type Name</th>
				<td>{{ type_transaction.typeName }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_type_transaction_index') }}">Back to List</a>
	<a class="btn btn-primary m-2" href="{{ path('app_type_transaction_edit', {'id': type_transaction.id}) }}">Edit</a>
	{{ include('type_transaction/_delete_form.html.twig') }}
{% endblock %}
