{% extends 'base.html.twig' %}

{% block title %}New TypeTransaction
{% endblock %}

{% block body %}
	<h2>Create New Type</h2>
	{{ include('type_transaction/_form.html.twig') }}
	<a class="btn btn-primary m-2" href="{{ path('app_type_transaction_index') }}">Back to List</a>
{% endblock %}
