{% extends 'base.html.twig' %}

{% block title %}Period List
{% endblock %}

{% block body %}
	<h2>Period List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Period Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for period_transaction in period_transactions %}
				<tr>
					<td>{{ period_transaction.periodName }}</td>
					<td>
						<a href="{{ path('app_period_transaction_show', {'id': period_transaction.id}) }}">Show</a>
						<a href="{{ path('app_period_transaction_edit', {'id': period_transaction.id}) }}">Edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_period_transaction_new') }}">Create New</a>
{% endblock %}
