{% extends 'base.html.twig' %}
{% block title %}Edit Records
{% endblock %}

{% block body %}
	<h2>Edit Records</h2>
	{{ include('records_transaction/_form.html.twig', {'button_label': 'Update'}) }}
	<a class="btn btn-primary m-2" href="{{ path('app_records_transaction_index') }}">Back to List</a>
	{{ include('records_transaction/_delete_form.html.twig') }}
{% endblock %}
