{% extends 'base.html.twig' %}

{% block title %}Show Year
{% endblock %}

{% block body %}
	<h2>Show Year</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Year</th>
				<td>{{ year_transaction.year }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_year_transaction_index') }}">Back to List</a>
	<a class="btn btn-primary m-2" href="{{ path('app_year_transaction_edit', {'id': year_transaction.id}) }}">Edit</a>
	{{ include('year_transaction/_delete_form.html.twig') }}
{% endblock %}
