{% extends "base.html.twig" %}

{% block title %}Search Error{% endblock %}
{% block body %}
<h1>Google Search API Error</h1>
   <div class="search-error">
   <p>There is an error with the result from the API</p>
   </div>
{% endblock %}
