{% extends 'base.html.twig' %}

{% block title %}Show Payee
{% endblock %}

{% block body %}
	<h2>Show Payee</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>Payee Name</th>
				<td>{{ payee_transaction.payeeName }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary m-2" href="{{ path('app_payee_transaction_index') }}">Back to List</a>
	<a class="btn btn-primary m-2" href="{{ path('app_payee_transaction_edit', {'id': payee_transaction.id}) }}">Edit</a>
	{{ include('payee_transaction/_delete_form.html.twig') }}
{% endblock %}
